extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/form.css")

block content
  main
    form.product-form(action='/login', method="POST" novalidate)
      .form-control
        label(for="email") Email
        input(type="email", name="email", value=oldInputData.email)#email

        label(for="password") Password
        input(type="password", name="password")#password
        input(type="hidden", value=csrfToken, name='_csrf')

      button(type="submit") Login
      a(href='/reset', class='reset-password-link') Reset Password
      if (errorMessage) 
        p.error #{errorMessage}