.product-form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-item {
  width: 30rem;
  max-width: 95%;
}

.product__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  font-size: 2rem;
}

.product__description {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
}
