extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/cart.css")
  
block content
  main.centered
    if products.length > 0
      table(style='width:100%', border='1')
        thead
          tr
            th Items
            th Quantity
            th Actions
        tbody
          each p in products
            tr
              td #{p.title}
              td #{p.quantity}
              td
                form(action="/cart-delete-item", method='POST')
                  input(type="hidden", name='productId', value=p._id)
                  button(class='cart-btn', type='submit') Remove from cart
      form(action='/create-order', method='POST')
        button(type='submit') Place Order
    else
      h2 No products in cart